<h1>Filiais</h1>
<% if @subsidiaries.any? %>
  <ul>
    <%= render partial: :subsidiary, collection: @subsidiaries %>
  </ul>
<% else %>
  <%= render partial: 'blank', locals: { object: @subsidiaries } %>
<% end %>

<%= link_to 'Registrar nova filial', new_subsidiary_path %>
