<h1>Rental Cars</h1>

<h3>Bem vindo ao sistema de gestão de locação</h3>

<%= link_to 'Fabricantes', manufacturers_path %>
<%= link_to 'Filiais', subsidiaries_path %>
<%= link_to 'Registrar nova categoria de carro', new_car_category_path %>
