<h1><%= t('.title') %></h1>

<% if @car_category.errors.any? %>
    <div>
        <p><%= t('.errors.can_not_create') %></p>
    </div>
<% end %>

<%= render partial: 'form', locals: { car_category: @car_category } %>
