<h1>Fabricantes parceiros</h1>

<% if @manufacturer.any? %>
  <ul>
    <% @manufacturer.each do |manufacturer| %>
      <li>
        <%= link_to manufacturer.name, manufacturer_path(manufacturer) %>
      </li>
    <% end %>
  </ul>
<% else %>
  <h5>Nenhum fabricante cadastrado</h5>
<% end %>

<%= link_to 'Voltar', root_path %>
