<h1>Fabricantes parceiros</h1>

<% if @manufacturers.any? %>
  <ul>
    <% @manufacturers.each do |manufacturer| %>
      <li>
        <%= link_to manufacturer.name, manufacturer %>
      </li>
    <% end %>
  </ul>
<% else %>
  <%= render partial: 'blank', locals: { object: @manufacturers } %>
<% end %>

<%= link_to 'Registrar novo fabricante', new_manufacturer_path %>

<%= link_to 'Voltar', root_path %>
